<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Source+Serif+Pro:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>

<main class="{{ slug }}">
	{{>nav}}

	<article>

		{{#if title}}
			<h1>{{ title }}</h1>
		{{/if}}

		{{#if subtitle}}
			<h2>{{ subtitle }}</h2>
		{{/if}}

		{{{ contents }}}

	</article>
</main>


</body>
</html>