* {
  box-sizing: border-box;
}

body {
  background-color: $white;
}

article {
  margin: 3em 20% 4em 3em;
  max-width: 840px;
}

h1,
h2,
h3 {
  color: $black;
  font-family: $openSans;
}

h1 {
  font-size: 4em;
  font-weight: 300;
  margin: 1em 0 0;
}

h2 {
  font-weight: 600;
  text-transform: uppercase;
  margin: 1em 0 0;
  + .intro {
    margin: 4em 0 0;
  }
}

h3 {
  border-top: 2px solid $paleGray;
  font-size: .75em;
  font-weight: 700;
  letter-spacing: .5em;
  margin: 8em 0 1.5em;
  padding: .5em 0 0;
  text-transform: uppercase;
  + p {
    font-size: .875em;
    line-height: 1.25;
  }
}

p,
li {
  color: $black;
  font-family: $sourceSerifPro;
  margin: 0;
}

p {
  line-height: 1.5;
  + p {
    margin: 1em 0 0;
  }
  .intro & {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin: 0 0 2em;
    strong {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .opening {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
}

hr {
  border: none;
  margin: 2.5em 0 0;
}

li {
  font-size: .75em;
  line-height: 1.25;
  + li {
    margin: 1em 0 0;
  }
}

aside {
  font-family: "Source Serif Pro", serif;
  font-size: 1.5em;
  font-weight: 600;
  margin: 2em 3em;
}

blockquote {
  font-style: italic;
  &:first-of-type {
    border-left: 1em $paleGray solid;
    margin: 2em 0;
    padding: .5em 2em 0.5em 4em;
    width: 66.666666%;
  }
  cite {
    display: block;
    font-style: normal;
  }
}

figure {
  margin: 2em 0;
  img {
    width: 100%;
  }
}

figcaption {
  font-family: "Open Sans", sans-serif;
  font-size: .5em;
}

.lockup {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
  figure {
    margin: 0;
  }
  .pardon-my-french & {
    &.nude-descending {
      figure {
        &:first-of-type {
          width: calc(43.5% - 1em);
        }
        &:last-of-type {
          width: calc(56.5% - 1em);
        }
      }
    }
    &.proper-name {
      figure {
        &:first-of-type {
          width: calc(37.5% - 1em);
        }
        &:nth-child(2) {
          width: calc(44% - 2em);
        }
        &:last-of-type {
          width: calc(18.5% - 1em);
        }
      }
    }
    &.bicycle-wheel {
      figure {
        &:first-of-type {
          width: calc(47.875% - 1em);
        }
        &:last-of-type {
          width: calc(52.125% - 1em);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  article {
    margin: 3em 3em 4em 3em;
    max-width: 580px;
  }
}