* {
  box-sizing: border-box;
}

body {
  background-color: $white;
}

main {
  position: relative;
}

article {
  margin: 3em 20% 4em 3em;
  max-width: 840px;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    background-color: $mediumGray;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    margin: 0;
    text-align: center;
    @each $slug in pardon-my-french, dont-shoot-the-messenger, why-was-modernism-born-in-france, the-invention-of-non-art-a-history-part-1, the-invention-of-non-art-a-history-part-2, this-is-art-anatomy-of-a-sentence {
      &.#{$slug} {
        .#{$slug} & {
          background-color: $paleGray;
          cursor: default;
          font-weight: 700;
          pointer-events: none;
        }
      }
    }
    + li {
      margin: 0;
    }
    a {
      color: $satansGray;
      display: inline-block;
      padding: .5em;
      text-decoration: none;
      transition: background-color .5s;
      width: 100%;
      &:hover,
      &:active {
        background-color: $paleGray;
        transition: background-color .5s;
      }
    }
  }
}

h1,
h2,
h3 {
  color: $black;
  font-family: $openSans;
}

h1 {
  font-size: 4em;
  font-weight: 300;
  margin: 1em 0 0;
}

h2 {
  font-weight: 600;
  text-transform: uppercase;
  margin: 1em 0 0;
  + .intro {
    margin: 4em 0 0;
  }
}

h3 {
  &:last-of-type {
    border-top: 2px solid $paleGray;
    font-size: .75em;
    font-weight: 700;
    letter-spacing: .5em;
    margin: 8em 0 1.5em;
    padding: 1.5em 0 0;
    text-transform: uppercase;
    + p {
      font-size: .875em;
      line-height: 1.25;
      margin: 2em 0;
    }
  }
}

p,
li {
  color: $black;
  font-family: $sourceSerifPro;
  margin: 0;
}

p {
  line-height: 1.5;
  + p {
    margin: 1em 0 0;
  }
  .intro & {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin: 0 0 2em;
    strong {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .opening {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
}

sup {
  cursor: pointer;
  display: inline-block;
  font-size: .75em;
  position: relative;
  text-align: center;
}

hr {
  border: none;
  margin: 2.5em 0 0;
}

ol {
  &:last-of-type {
    li {
      font-size: .75em;
      line-height: 1.25;
      + li {
        margin: 1em 0 0;
      }
    }
  }
}

aside {
  font-family: "Source Serif Pro", serif;
  font-size: 1.5em;
  font-weight: 600;
  margin: 2em 3em;
}

blockquote {
  font-style: italic;
  &:first-of-type {
    border-left: 1em $paleGray solid;
    margin: 2em 0;
    padding: .5em 2em 0.5em 4em;
    width: 66.666666%;
  }
  .dont-shoot-the-messenger & {
    &:nth-of-type(5) {
      text-align: center;
    }
  }
  cite {
    display: block;
    font-style: normal;
  }
  em {
    font-style: normal;
  }
}

figure {
  margin: 2em 0;
  img {
    width: 100%;
  }
}

figcaption {
  font-family: "Open Sans", sans-serif;
  font-size: .75em;
  margin: .5em 0 0;
}

.lockup {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
  figure {
    margin: 0;
  }
  .pardon-my-french & {
    &.nude-descending {
      figure {
        &:first-of-type {
          width: calc(43.5% - 1em);
        }
        &:last-of-type {
          width: calc(56.5% - 1em);
        }
      }
    }
    &.proper-name {
      figure {
        &:first-of-type {
          width: calc(37.5% - 1em);
        }
        &:nth-child(2) {
          width: calc(44% - 2em);
        }
        &:last-of-type {
          width: calc(18.5% - 1em);
        }
      }
    }
    &.bicycle-wheel {
      figure {
        &:first-of-type {
          width: calc(47.875% - 1em);
        }
        &:last-of-type {
          width: calc(52.125% - 1em);
        }
      }
    }
  }
  .dont-shoot-the-messenger & {
    &.galleries {
      figure {
        &:first-of-type {
          width: calc(48% - 1em);
        }
        &:last-of-type {
          width: calc(52% - 1em);
        }
      }
    }
    &.catalogue {
      flex-wrap: wrap;
      img {
        width: calc(50% - 1em);
      }
      figcaption {
        margin: 1em 0 0;
        width: 100%;
      }
    }
    &.duchamp-villon-armory-show {
      figure {
        &:first-of-type {
          width: calc(51.25% - 1em);
        }
        &:last-of-type {
          width: calc(48.75% - 1em);
        }
      }
    }
    &.brillo-das-schweigen {
      figure {
        &:first-of-type {
          width: calc(51% - 1em);
        }
        &:last-of-type {
          width: calc(49% - 1em);
        }
      }
    }
  }
}

.toc {
  margin: 6em 6em 8em;
  max-width: 768px;
  h1 {
    text-align: center;
  }
  h2 {
    font-family: "Source Serif Pro", serif;
    margin: 2em 0 4em;
    text-align: center;
    text-transform: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    font-family: "Open Sans", sans-serif;
    font-size: 2em;
    list-style: none;
    + li {
      margin: 1em 0 0;
    }
  }
  a {
    color: $satansGray;
    text-decoration: none;
  }
}

.tooltip {
  background-color: rgba($satansGray, .9);
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  padding: .5em;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  .tooltip-content {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
  }
  p {
    color: $white;
    width: 75%;
    max-width: 400px;
  }
}

@media screen and (min-width: 1680px) {
  article {
    margin: 3em auto 4em;
    max-width: 1552px;
  }
}

@media screen and (min-width: 1440px) {
  article {
    margin: 3em 5em 4em 3em;
    max-width: 100%;
  }
  h1,
  h2,
  h3,
  ol,
  p {
    max-width: 840px;
  }
  aside {
    margin: 2em 0;
    max-width: 840px;
    padding: 0 3em;
  }
  blockquote {
    max-width: 760px;
    &:first-of-type {
      max-width: 840px;
    }
  }
  figure,
  .lockup {
    clear: both;
    float: right;
    margin: 0 0 2em;
    width: calc(100% - 900px);
  }
  .lockup {
    flex-direction: column;
    figure {
      width: 100% !important; /* override lock up widths */
      + figure {
        margin: 2em 0 0;
      }
    }
    .dont-shoot-the-messenger & {
      &.catalogue {
        flex-direction: row;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .toc {
    margin: 6em auto 8em;
  }
}

@media screen and (max-width: 768px) {
  article {
    margin: 3em 4em 4em 3em;
    max-width: 580px;
  }
  blockquote {
    &:first-of-type {
      padding: .5em 2em;
      width: 75%;
    }
  }
}

@media screen and (max-width: 680px) {
  article {
    margin: 2em 3em 3em 2em;
  }
  nav {
    li {
      font-size: 1em;
    }
  }
  h1 {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 3em;
  }
  blockquote {
    &:first-of-type {
      width: 100%;
    }
  }
}